* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  // font-size: 62.5%;
  font-size: 100%;
}

body {
  font-family: $font-family;
  background: $primary-color;
  color: $light-color;
  // font-size: $m-size;
  line-height: 1.6;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

// text

// detail

.detail-text {
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 16px;
  font-weight: 300;
}

.primary-color {
  color: $primary-text-color;
}

.secondary-color {
  color: $secondary-text-color;
}

// Showing or hiding element for Different Screens

@media (max-width: 993px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media (min-width: 994px) {
  .hide-on-big-screen {
    display: none !important;
  }
}
