// colors
$primary-color: #03103b;
$light-color: #fff;
$primary-text-color: #496b96;
$secondary-text-color: #8ec7ff;
$button-1-color: #4ba1d8;
$button-2-color: #4464bd;
$box-shadow-color: #4b6deb;

$discount-bg-color: #1a1d5f;
$discount-text-color: #40e0db;
// CountDown
$countdown-bg-color: #0b1741;

// Card Color
$card-bg-color: #152149;
$card-hover-color1: #1d7ccb;
$card-hover-color2: #1951b8;

// Fonts
$font-family: Roboto, sans-serif;

// container padding
$container-padding: 100px 0px 50px;
